<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">
    <title>CONEST - Produtos</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <div class="container">
        <h1>Produtos</h1>
        <form id="frmProduct" class="mt-2 row g-3">
            <!-- Buscar Produtos por Nome -->
            <div class="col-md-6">
                <input type="text" class="form-control" id="searchProduct" maxlength="30" spellcheck="false">
            </div>

            <div class="col-md-4">
                <button type="button" class="btn btn-primary" id="btnRead" onclick="buscarProduto()">Buscar
                    Nome</button>
            </div>

            <hr class="mt-4 border border-primary border -1">

            <!-- Buscar Produtos por Código -->
            <div class="col-md-6">
                <input type="text" class="form-control" id="searchBarcode" maxlength="30" spellcheck="false">
            </div>

            <div class="col-md-4">
                <button type="button" class="btn btn-primary" id="btnRead" onclick="buscarProdutoCod()">Buscar
                    Código</button>
            </div>

            <hr class="mt-4 border border-primary border -1">

            <!-- ID do produto (oculto) -->
            <div class="col-md-6" id="idProduct">
                <input class="form-control" type="text" id="inputIdProduct" placeholder="id">
            </div>

            <!-- Técnica para bloqueio dos inputs do form -->
            <!-- div class="bloqueio" -->

            <!-- Nome do produto -->
            <div class="col-md-8">
                <label for="inputNameProduct" class="form-label">Nome do Produto</label>
                <input class="form-control" type="text" id="inputNameProduct" spellcheck="false" required
                    maxlength="50">
            </div>

            <!-- Código de barras -->
            <div class="col-md-4">
                <label for="inputCodProduct" class="form-label">Código de Barras</label>
                <input class="form-control" type="text" id="inputCodProduct" spellcheck="false" required maxlength="15">
            </div>

            <!-- Preço -->
            <div class="col-md-8">
                <label for="inputPrecoProduct" class="form-label">Preço</label>
                <input class="form-control" type="text" id="inputPrecoProduct" spellcheck="false" required
                    maxlength="50">
            </div>

            <!--/div --> <!-- fim do bloqueio -->

            <!-- Botões -->
            <div class="mt-5">
                <button type="submit" class="btn btn-success" id="btnCreate">Adicionar</button>
                <button type="submit" class="btn btn-warning" id="btnUpdate">Editar</button>
                <button type="button" class="btn btn-danger" id="btnDelete"
                    onclick="excluirProduto()">Excluir</button>
                <button type="reset" class="btn" id="btnReset" onclick="resetForm()"></button>
            </div>
        </form>
    </div>

    <script src="../public/js/bootstrap.min.js"></script>
    <script src="produtos.js"></script>
</body>

</html>