<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Evitar ataques de injeção de código malicioso -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">
    <title>CONEST</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <div class="container">
        <section id="sobre">
            <h1>CONEST</h1>
            <p>Sistema de gestão e estoque</p>
            <p>Emmanuel L. Nogueira</p>
            <button class="btn btn-warning float-end" onclick="fechar()">OK</button>
        </section>
    </div>

    <script src="../public/js/bootstrap.min.js"></script>
    <script src="renderer.js"></script>
</body>

</html>